---
import { getCollection, CollectionEntry } from "astro:content";

import CollectionLayout from "../../layout/CollectionLayout.astro";
import ArticleCard from "../../components/ArticleCard.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag: string) => ({
    params: { tag },
    props: { posts: allPosts },
  }));
}

const { tag } = Astro.params;
const { posts } = Astro.props;

const filteredPosts = posts
  .filter((post: any) => post.data.tags.includes(tag))
  .filter((post: any) => !post.data.draft)
  .sort((a: any, b: any) => (a.data.pubDate < b.data.pubDate ? 1 : -1));
---

<CollectionLayout meta="カテゴリ" title={tag}>
  <div class="text-sm breadcrumbs" slot="breadCrumbs">
    <ul class="py-2">
      <li><a href="/">Home</a></li>
      <li><a href="/category">Category</a></li>
      <li><a href={`/category/${tag}/`}>{tag}</a></li>
    </ul>
  </div>
  {
    filteredPosts.map((post: any) => (
      <ArticleCard
        href={`/${post.slug}/`}
        title={post.data.title}
        tags={post.data.tags}
        date={post.data.pubDate}
      />
    ))
  }
</CollectionLayout>
