---
import type { CollectionEntry } from "astro:content";

import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import BaseLayout from "../../layout/BaseLayout.astro";
import Header from "../../components/Header.astro";
import ArticleCard from "../../components/ArticleCard.astro";

export async function getStaticPaths() {
    const allPosts = await Astro.glob("../../content/blog/**/*.md");

    return [
        {
            params: { tag: "ICTSC2022" },
            props: { posts: allPosts },
        },
        {
            params: { tag: "問題解説まとめ" },
            props: { posts: allPosts },
        },
        {
            params: { tag: "アプリケーション関連" },
            props: { posts: allPosts },
        },
    ];
}

const { tag } = Astro.params;
const { posts } = Astro.props;

const filteredPosts = posts.filter((post: any) =>
    post.frontmatter.tags.includes(tag)
);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <body>
        <Header />
        <main>
            <div class="bg-gray-200">
                <div class="container mx-auto px-2 py-2">
                    <div class="text-sm breadcrumbs">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a>Documents</a></li>
                            <li>Add Document</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container mx-auto px-2">
                <!-- <h1 class="text-4xl font-bold pt-16 pb-6">{title}</h1> -->
                <div class="flex flex-row justify-items-center">
                    <p class="pt-[0.4px] pr-6 text-gray-400">
                        <!-- <FormatDate date={pubDate} /> -->
                    </p>
                </div>
                <p class="pt-16 text-gray-400">カテゴリ</p>
                <h1 class="text-3xl font-bold pb-6">{tag}</h1>
                <div class="grid md:grid-cols-1 grid-cols-2 gap-4">
                    {
                        filteredPosts.map((post: any) => (
                            <ArticleCard
                                href={`/${post.frontmatter.slug}/`}
                                title={post.frontmatter.title}
                                tags={post.frontmatter.tags}
                            />
                        ))
                    }
                </div>
            </div>
        </main>
    </body>
</BaseLayout>
