---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import BaseLayout from "../layout/BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ArticleCard from "../components/ArticleCard.astro";
import { getCollection } from "astro:content";

// draft は除く, pubDate 順番
const posts = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => {
    if (a.data.sticky && !b.data.sticky) {
      return -1;
    } else if (!a.data.sticky && b.data.sticky) {
      return 1;
    } else {
      return a.data.pubDate < b.data.pubDate ? 1 : -1;
    }
  });
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <body>
    <Header />
    <main class="flex flex-col min-h-screen">
      <div class="container mx-auto -mt-4 px-2">
        <h1 class="hidden">{SITE_TITLE} ホーム</h1>
        <div
          id="card-list"
          class="grid md:grid-cols-1 grid-cols-2 gap-4 flex-grow"
        >
          {
            posts.map((post) => (
              <ArticleCard
                href={`/${post.slug}/`}
                title={post.data.title}
                tags={post.data.tags}
                date={post.data.pubDate}
                sticky={post.data.sticky}
                wpId={(() => {
                  // wordpress/ で始まるか始まるなら id の部分を切り出す
                  // 例: wordpress/2023031323173574.md なら下四桁の 3574 が id
                  if (post.id.startsWith("wordpress/")) {
                    return post.id.split("/")[1].slice(-7, -3);
                  }
                })()}
              />
            ))
          }
        </div>
      </div>
    </main>
    <Footer />
  </body>
</BaseLayout>

<script>
  // wordpress からのリダイレクト用
  const urlSearchParams = new URLSearchParams(window.location.search);
  const params = Object.fromEntries(urlSearchParams.entries());

  // クエリから id を取得
  const pageId = params["p"] as unknown as number | null;

  function redirectToPage(pageId: number | null) {
    if (pageId == null) {
      return;
    }

    const wpIds = document
      .getElementById("card-list")
      ?.querySelectorAll("[data-wp-id]");

    const hrefs = document
      .getElementById("card-list")
      ?.querySelectorAll("[data-wp-href]");

    const length = wpIds?.length ?? 0;
    for (let i = 0; i < length; i++) {
      const id = wpIds?.[i].getAttribute("data-wp-id") as Number | null;

      if (id == null) {
        continue;
      }

      if (pageId == id) {
        window.location.href = hrefs?.[i].getAttribute(
          "data-wp-href"
        ) as string;

        return;
      }
    }

    window.location.href = "/";
    return;
  }

  redirectToPage(pageId);
</script>
