---
import FormatDate from "./FormatDate.astro";
import CategoryBadge from "./CategoryBadge.astro";

const { href, title, tags, date, sticky = false, wpId } = Astro.props;
---

<div
  class={`card card-bordered bg-base-100 text-base-content ${
    sticky && "col-span-2"
  }`}
  data-wp-id={wpId}
  data-wp-href={wpId == null ? null : href}
>
  <div class="card-body">
    <h2 class="card-title">
      <a class="card-title" href={href}>{title}</a>
    </h2>
    <div class="py-2 text-gray-500"><FormatDate date={date} /></div>
    <div class="flex flex-wrap gap-2">
      {
        tags.map((tag: string) => (
          <CategoryBadge name={tag} href={`/category/${tag}/`} />
        ))
      }
    </div>
  </div>
</div>
