---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

import BaseLayout from "../layout/BaseLayout.astro";
import Header from "../components/Header.astro";

const { meta, title, breadCrumbs } = Astro.props;
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <body>
        <Header />
        <main>
            <div class="bg-gray-200">
                <div class="container mx-auto px-2 py-2">
                    <slot name="breadCrumbs" />
                </div>
            </div>
            <div class="container mx-auto px-2">
                <!-- <h1 class="text-4xl font-bold pt-16 pb-6">{title}</h1> -->
                <div class="flex flex-row justify-items-center">
                    <p class="pt-[0.4px] pr-6 text-gray-400">
                        <!-- <FormatDate date={pubDate} /> -->
                    </p>
                </div>
                <p class="pt-16 text-gray-400">{meta}</p>
                <h1 class="text-3xl font-bold pb-6">{title}</h1>
                <div class="grid md:grid-cols-1 grid-cols-2 gap-4">
                    <slot />
                    <!-- {
                        filteredPosts.map((post: any) => (
                            <ArticleCard
                                href={`/${post.frontmatter.slug}/`}
                                title={post.frontmatter.title}
                                tags={post.frontmatter.tags}
                            />
                        ))
                    } -->
                </div>
            </div>
        </main>
    </body>
</BaseLayout>
